<style type="text/css">
    .dialogWithDropShadow {
        -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        font-weight: bold;
    }
    @@media (max-width: 320px) {

        .table-responsive{
            margin-top:200px!important;
        }
    }
    @@media (max-width: 768px) {
        .table-margin {
            margin-top: 200px!important;
        }
    }

</style>
<script src="~/js/Member/Member.js"></script>

<partial name="~/Views/Partial/_CDN.cshtml" />
<br/><br/>
<div class="row mt-5 table-margin">
    <div class="table table-responsive col-xs-10 col-sm-11 pl-0 pr-0 mt-sm-5 ml-0" width:"100%">
        <br />
        <table id="tblData" class="table table-striped"  cellspacing="0" data-page-length='31'>
            <thead style="background:#008080!important">
                <tr class="table-info">
                    <th>Membe Id</th>
                    <th>Member Name</th>
                    <th>Member Type</th>
                    <th>Member Password</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="col-xs-2 col-sm-1 mt-3">
        <a id="popup" class="btn btn-sm btn-success text-white" onclick="showPopup()"><i class="fa fa-plus text-white" aria-hidden="true"></i>New</a>
    </div>
</div>

<div id="popupDiv" style="display:none">
    <div class="fontChange">
        <input id="inputFieldForMId" class='form-control' type="hidden" />
        <br>
        <label>Member Name</label>
        <input id="inputFieldForMName" class='form-control' type="text" />
        <br>
        <label>Member Type</label>
        <select id="inputFieldForMType" class="form-control">
            <option value="Admin">Admin</option>
            <option value="User">User</option>
        </select>
        <br>
        <label>Member Password</label><br>
        <input id="inputFieldForMPass" class='form-control' type="text" />
        <br />
        <button type="submit" class="btn btn-sm btn-primary" onclick="SaveMember()">Confirm</button>
        <button type="submit" class="btn btn-sm btn-danger" onclick="closePopup()">Close</button>
    </div>
</div>