@model IEnumerable<MealManagementSytem.Entities.AllMeal>

@{
    ViewData["Title"] = "AllMeals";
}

<style type="text/css">
    .dialogWithDropShadow {
        -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        font-weight: bold;
    }

    @@media (max-width: 320px) {

        .table-responsive {
            margin-top: 200px !important;
        }
    }

    @@media (max-width: 768px) {
        .table-margin {
            margin-top: 200px !important;
        }
    }
</style>

<script src="~/js/Meal/AllMeals.js"></script>

<partial name="~/Views/Partial/_CDN.cshtml" />

<br />
<br />
<div class="row mt-5 table-margin">
    <div class="table table-responsive col-xs-10 col-sm-11 pl-0 pr-0 mt-sm-5 ml-0" width:"100%">
        <b>Total Meals Of Current Month:</b>
        <input id="totalMeals" style="width:100px;" class="form-control" type="text" />
        <br />
        <table id="tblData" class="table table-striped" cellspacing="0" data-page-length='31'>
            <thead style="background:#008080!important">
                <tr class="table-info">
                    <th>Date</th>
                    <th>MemberName</th>
                    <th>MemberId</th>
                    <th>Lunch</th>
                    <th>Guest Lunch</th>
                    <th>Dinner</th>
                    <th>Guest Dinner</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<div id="popupDiv" style="display:none">
    <input id="inputFieldForMealId" class='form-control' type="hidden" />
    <label>Name</label>
    <select style="width:100%" class="form-control" id="ddlNameList">
        <option value="0">Select Name</option>
    </select>
    <label>Lunch</label>
    <input id="inputFieldForLunch" placeholder="Lunch" class='form-control' type='number' />
    <br />
    <label>Guest Lunch</label>
    <input id="inputFieldForGuestLunch" placeholder="Guest Lunch" class='form-control' type='number' />
    <br />
    <label>Dinner</label>
    <input id="inputFieldForDinner" placeholder="Dinner" class='form-control' type='number' />
    <br />
    <label>Guest Dinner</label>
    <input id="inputFieldForGuestDinner" placeholder="Dinner" class='form-control' type='number' />
    <br />
    <input id="inputFieldForDate" class='form-control' type='date' />
    <br />
    <button type="submit" class="btn btn-sm btn-primary" onclick="SaveMealDetail()">Confirm</button>
</div>
