@{
    ViewData["Title"] = "Home Page";
}


@model MealManagementSytem.Models.Deposite

@{
    ViewData["Title"] = "Index";
}
<style>
    .dataTables_wrapper .dataTables_length select {
        margin-top: 17px;
    }
    .dataTables_filter input {
        margin-top: 17px;
    }
    .paginate_button.current {
        margin-top: 17px;
    }

    @@media (max-width: 768px) {
        #tblData {
            width: 100%;
        }
    }

    @@media (max-width: 320px) {
        #tblData {
            width: 80px !important;
            font-size: 7px;
        }

        h3 {
            margin-top: 80px;
            font-size: 12px;
        }
    }

    @@media (max-width: 768px) {
        #tblData {
            width: 100px;
        }

        h3 {
            margin-top: 80px;
            font-size: 18px;
        }
    }
</style>
<script src="~/js/Home/Home.js"></script>

<partial name="~/Views/Partial/_CDN.cshtml" />

<br />
<br />
<br />
<br />
<br />
<br />
<div class="mt-5">
    <div class="mt-5">
        <marquee><h3 style="color:red;"> Todays Bazar's: @foreach(var item in ViewBag.bazarPersonName)
        {
            @item.MemberName
        }
            </h3></marquee>
        <br />
        <b>Total Meals Todays:</b>
        <input id="txtTodaysMeal" style="width:100px;" class="form-control" type="text" />
    </div>
    <br />
    <div class="row">
        <div class="table  table-responsive  pl-0 pr-0">
            <table id="tblData" class="table table-striped" data-page-length='31'>
                <thead style="background:#008080">
                    <tr class="table-info">
                        <th>Date</th>
                        <th>MemberName</th>
                        <th>MemberId</th>
                        <th>Lunch</th>
                        <th>Guest Lunch</th>
                        <th>Dinner</th>
                        <th>Guest Dinner</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

