@model IEnumerable<MealManagementSytem.Entities.ViewName>
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Index";
    var dt = System.DateTime.Now;
    ViewBag.month = dt.Month;
    ViewBag.year = dt.Year;
    ViewBag.days = DateTime.DaysInMonth(dt.Year, dt.Month);
    var checkLogintype = @HttpContextAccessor.HttpContext.Session.GetString("UserType"); ;

}

<style>
    #checkbox {
        display: inline-block;
    }

    .div-schedule {
        margin-left: 0px;
        margin-top: 200px;
    }

    .calender {
        margin-top: 400px;
    }
</style>

<script src="~/js/Schedule/Schedule.js"></script>
<partial name="~/Views/Partial/_CDN.cshtml" />

<div class="row" style="margin-top:200px;">
    @foreach (var value in Model)
    {
        <div class="col-sm-3">
            <div class="card">
                @*<div class="card-header">
                        Bazar Schedule
                    </div>*@
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p>@value.MemberName</p>
                        <footer class="blockquote-footer">
                            <span class="badge badge-primary">@value.Date.ToShortDateString()</span>
                        </footer>
                    </blockquote>
                </div>
            </div>
        </div>
    }
</div>

<div class="row div-schedule">
    <div class="col-sm-4">
        <div class="mt-5 mr-lg-5">
            <select style="width:50%" class="form-control" id="ddlNameList">
                <option value="0">Select Name</option>
            </select>
        </div>
        <table id="div_func" class="table table-striped table-responsive mt-5">
            <thead>
                <tr style="width:400px">
                    <th>
                        Select
                    </th>
                    <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                    <th>
                        Date
                    </th>
                </tr>
            </thead>
            @for (int i = 1; i <= @ViewBag.days; i++)
            {
                <tbody>
                    <tr>
                        <td>
                            <input id="checkbox" class="check" name="lang" type="checkbox" />
                        </td>
                        <td></td>
                        <td>
                            @i-@ViewBag.month-@ViewBag.year
                        </td>
                    </tr>
                </tbody>
            }
        </table>
    </div>
    <div class="calender mt-5 col-sm-8" style="font-size:40px" ;>
        <div id="txtDate"></div>
        @if (checkLogintype == "Admin")
        {
            <button type="submit" class="btn btn-sm btn-primary ml-5" style="margin-left:300px!important;" onclick="SaveSchedule()">Confirm</button>
        }
    </div>
</div>

<script>
    $(function () {
        $("#txtDate").datepicker({
            showOn: 'button',
            buttonImageOnly: true,
            buttonImage: 'images/calendar.gif',
            dateFormat: 'dd/mm/yy',
            minDate: new Date()
        });
    });

    var array = [];
    $('.table tbody').on('click', '.check', function () {
        var mId = $('#ddlNameList option:selected').val();
        if (mId == 0) {
            all = document.getElementsByName('lang');
            for (var a = 0; a < all.length; a++) {
                all[a].checked = false;
            }
            alert("Select Name First!!!!");
        }
        else {
            var currow = $(this).closest('tr');
            var col1 = currow.find('td:eq(0)').text();
            var col2 = currow.find('td:eq(2)').text();
            var obj = {
                memberId: mId,
                date: col2.trim(),
            }
            array.push(obj);
        }

    });
    var ScheduleDate = [];
    function findAlreadyEntryDate() {
        $.ajax({
            url: "/Schedule/FindAlreadyEntryDate",
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                ScheduleDate = data;
                console.warn(ScheduleDate);
            }
        });
    }
    function SaveSchedule() {
        var data = array;
        $.ajax({
            url: '/Schedule/AddSchedule',
            data: { "prm": data },
            type: "POST",
            dataType: "json",
            async: true,
            success: function (result) {
                array = [];
                $('#ddlNameList').val(0);
                all = document.getElementsByName('lang');
                for (var a = 0; a < all.length; a++) {
                    all[a].checked = false;
                }
                toastr.success(result);
            },
            error: function () {
                toastr.success(result);
            }
        });

    }

</script>