@model MealManagementSytem.Models.Deposite

@{
    ViewData["Title"] = "Index";
}

<style type="text/css">
    .dialogWithDropShadow {
        -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        font-weight: bold;
    }
    @@media (max-width: 768px) {
        #tblData {
            width: 100%;
        }
    }
    @@media (max-width: 320px) {
        #tblData {
            width: 200px;
        }
    }
    @@media (max-width: 500px) {
        #tblData {
            width: 100px;
        }
    }
</style>

<script src="~/js/Deposite/Deposites.js"></script>

<partial name="~/Views/Partial/_CDN.cshtml" />


<div class="mt-5">
    <b>Total Deposits Of Current Month:</b>
    <input id="totalIndividualDeposits" style="width:100px;" class="form-control" type="text" />
    <br/>
    <div class=" table table-responsive-sm border rounded">
        <table id="tblData" class="table table-striped" data-page-length='31'>
            <thead style="background:#008080">
                <tr class="table-info">
                    <th>Date</th>
                    <th>Amount</th>
                    <th>MemberId</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>